{% extends "base.html" %}

{% block content %}
<div ng-controller="gvlAboutPageActionsController">
    <h1>
        About the GVL
    </h1>
    <hr />
    <p>
	The Genomics Virtual Laboratory takes the IT out of Bioinformatics. It lets Biologists use a suite of genomics analysis tools that currently often require specialist assistance.
	The tools provided by the GVL can help you with creating an elastic compute cluster on the cloud and running your analyses on that cluster. The GVL can also help you with protocols and tutorials for common analysis problems.
	</p>
	<br /><br />
	<h2>
        Version Info
    </h2>
    <hr />
    <div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Component Name</th>
					<th class="align-right">Version</th>
					<th>Build date</th>
					<th>Extra data</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in getInstalledApps()">
					<td>{$ app.name $}</td>
					<td>{$ app.version $}</td>
					<td>{$ app.build_date $}</td>
					<td>
						<p ng-repeat="(item, value) in app" ng-if="item != 'name' && item != 'version' && item != 'build_date'">
							<strong>{$ item $} :</strong> {$ value $}
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<h2>
        Website
    </h2>
    <hr />
    <p>
	<a href="https://genome.edu.au/">https://genome.edu.au/</a>
	</p>

	<br /><br />
	<h2>
        FAQ
    </h2>
    <hr />
    <p>
	<a href="https://genome.edu.au/wiki/GVL_FAQ">https://genome.edu.au/wiki/GVL_FAQ</a>
	</p>

	<br /><br />
    <h2>
        Help / Feedback
    </h2>
    <hr />
    <p>
	To provide feedback, report a bug or get help, e-mail us at: <a href="mailto:help@genome.edu.au">help@genome.edu.au</a>
	</p>
</div>
{% endblock content %}