{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div ng-controller="gvlHomePageActionsController">
	<h1 ng-cloak>GVL <small>{$ getGVLFlavour() ? getGVLVersion() + " - " + getGVLFlavour() : getGVLVersion() $}</small></h1>
    <p>Welcome to the GVL Dashboard! The GVL Dashboard is a portal through which you can access all services on your
        GVL instance.</p>
    <h1>
        Instance Services <span ng-class="{ 'spinner-fadein': isRefreshInProgress(), 'spinner-fadeout': !isRefreshInProgress() }"><i class="fa fa-refresh fa-spin"></i></span>
        <br />
        <small>for {$ getInstanceName() $}</small>
    </h1>

    <hr />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th class="text-center">Status</th>
                    <th style="min-width: 230px">Access Link</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="service in getServiceList()">
                    <td ng-switch on="service.service_name" class="text-center">
                    	<a ng-if="service.service_type == 'web'" class="btn btn-link" ng-class="{ 'application-disabled': service.service_status!='running', 'application-enabled': service.service_status=='running' }" href="{$ getServiceURL(service.service_name, service.service_type) $}">
                            <img src="{$ service.service_logo $}" style="max-width: 128px">
	                    </a>
	                    <a ng-if="service.service_type == 'cmdline'" class="btn btn-link" ng-class="{ 'application-disabled': service.service_status!='running', 'application-enabled': service.service_status=='running' }" href="#">
                            <img src="{$ service.service_logo $}" style="max-width: 128px">
	                    </a>
                    </td>
                    <td>{$ service.display_name $}</td>
                    <td ng-bind-html="service.description"></td>
                    <td>
                        <div ng-switch on="service.service_status">
                            <p ng-switch-when="running" class="text-success text-center">
                                <i class="fa fa-check-circle" title="Running"></i>
                            </p>
                            <p ng-switch-when="not_installed" class="text-warning text-center">
                                <i class="fa fa-minus" title="Not Installed"></i>
                            </p>
                            <p ng-switch-default class="text-danger text-center">
                                <i class="fa fa-close" title="Error or Unavailable"></i>
                            </p>
                        </div>
                    </td>

                    <td>
                        <a class="link" ng-if="service.service_type == 'web'" href="{$ getServiceURL(service.service_name, service.service_type) $}" class="btn btn-link" target="_blank" ng-class="{ disabled: service.service_status!='running' }">{$ getServiceURL(service.service_name, service.service_type) $}</a>
                        <span style="margin-left:-12px" ng-if="service.service_type == 'cmdline'">&nbsp;&nbsp;&nbsp;<kbd>ssh ubuntu@{$ getServiceURL(service.service_name, service.service_type) $}</kbd></span>
                        <br />
                        <strong>Username:</strong><span> {$ service.access_instructions.username $}</span>
                        <br />
                        <strong>Password:</strong><span> {$ service.access_instructions.password_hint $}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <br />
    <h1>Public Services</h1>

    <hr />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th class="text-center">Status</th>
                    <th>Access Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><a href="https://genomespace.genome.edu.au/jsui/" class="application-enabled"><img src="{% static 'images/logo_genomespace.png' %}"></a></td>
                    <td>GVL GenomeSpace</td>
                    <td>GenomeSpace is like dropbox, for genome data. Use GenomeSpace to store all your genomics
                        data securely and redundantly.</td>
                    <td>
                        <p class="text-success text-center">
                            <i class="fa fa-check-circle" title="Available"></i>
                        </p>
                    </td>
                    <td><a href="https://genomespace.genome.edu.au/jsui/">https://genomespace.genome.edu.au</td>
                </tr>
                <tr>
                    <td class="text-center"><a href="https://genome.edu.au/learn" class="application-enabled"><img src="{% static 'images/logo_gvl_learn.png' %}"></a></td>
                    <td>GVL Tutorials</td>
                    <td>Access GVL tutorials and other learning resources.</td>
                    <td>
                        <p class="text-success text-center">
                            <i class="fa fa-check-circle" title="Available"></i>
                        </p>
                    </td>
                    <td><a href="https://genome.edu.au/learn">https://genome.edu.au/learn</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div style="padding: 30px 20px 30px">
        <h3>Citation</h3>
        <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0140829">Afgan E, Sloggett C, Goonasekera N, Makunin I, Benson D, Crowe M,
        Gladman S, Kowsar Y, Pheasant M, Horst R, Lonie A.,
        Genomics Virtual Laboratory: A Practical Bioinformatics Workbench for the Cloud., PLoS One. 2015 Oct 26;10(10):e0140829. </a>
        <br>doi: <a href="http://dx.doi.org/10.1371/journal.pone.0140829">10.1371/journal.pone.0140829</a>
    </div>
</div>
{% endblock content %}
