{% load staticfiles %}
<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-4">
                <h3><i class="fa fa-ticket"></i> About </h3>
                <ul>
                    <li> <a href="{% url 'about' %}"> About </a> </li>
                    <li> <a href="mailto:help@gvl.org.au"> Contact Us </a> </li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-4 col-lg-offset-1">
                <h3><i class="fa fa-code"></i> Developer </h3>
                <ul>
                    <li> <a href="https://github.com/gvlproject"> Source Code <i class="fa fa-github"></i></a> </li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-8 col-sm-4 col-xs-4 col-lg-offset-4">
                <table>
                <tr>
                    <td><a href="https://galaxyproject.org/"><img src="{% static 'images/logo_galaxy_project.png' %}"></a></td>
                    <td><a href="https://www.gvl.org.au/"><img src="{% static 'images/logo_gvl.png' %}"></a></td>
                </tr>
                </table>
            </div>
    </div>
    <!--/.footer-->
</footer>