{% load staticfiles %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-12 frame">
        	<a href="https://www.nectar.org.au"><img src="{% static 'images/logo_nectar.png' %}"></a>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-12 col-lg-offset-1 frame">
            <a href="http://www.unimelb.edu.au/"><img src="{% static 'images/logo_uom.png' %}"></a>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-12 col-lg-offset-1 frame">
            <a href="http://www.uq.edu.au/"><img src="{% static 'images/logo_uq.png' %}"></a>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-12 col-lg-offset-1 frame">
            <a href="http://www.uq.edu.au/"><img src="{% static 'images/logo_jhu.png' %}"></a>
        </div>
    </div>
    <!--/.footer-->
</footer>